body {
    margin: 0;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 16px;
}

header {
    width: 100%;
    border-bottom: 1px solid;
    border-color: lightgray;
    margin-bottom: 10px;
    font-size: 24px;
    height: 35px;
    overflow: hidden;
}

/*Issue with hover being bigger than header size*/
header a {
    float: right;
    text-align: center;
    font-size: 24px;
}

header a:hover {
    background-color: lightgray;
}

#logo {
    margin: 0 5%;
    padding: 2px;
    float: left;
}

#content {
    min-height: calc(100vh - 150px);
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    padding: 0;
    letter-spacing: .08em; /* Adjust as needed */
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    position: absolute;
    background-image: url(images/me.jpg);
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 70% }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from , to { border-color:transparent}
   50%{border-color:black}
}

.introLink {
    width: 80px;
    height: 20px;
    padding: 5px 10px;
    margin-left: 30px;
    margin-bottom: 20px;
    background-color: #326672;
    text-align: center;
    color: white;
    border-radius: 5%;
    float: left;
}

.imgGrid {
    margin: auto;
    margin-top: 20px;
    width: 90%;
    height: 300px;
    display: grid;
    row-gap: 30px;
    column-gap: 50px;
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
}

.gridItem {
    height: 300px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    filter: drop-shadow(0 0 0.2rem gray);
    background-color: white;
}

.gridImg {
    height: 150px;
    width: 240px;
    text-align: center;
}

.gridItem:hover {
    transform: scale(1.1);
}

details summary {
    list-style: none;
}

.expand {
    border: none;
    background-color: #888888;
    padding: 15px;
    color: white;
    border-radius: 5px;
    float: right;
}

#expand:hover {
    filter: drop-shadow(0 0 0.2rem gray);
}

div {
    display: block;
    margin: auto;
    text-align: center;
}

footer {
    width: 100%;
    height: 100px;
    background-color: black;
    margin-top: 30px;
    text-align: center;
    color: white;
}

a {
    color: black;
    padding: 5px;
    text-decoration: none;
}

a::visited {
    color: black;
    text-decoration: none;
}