body {
    margin: 0;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 16px;
}

header {
    border-bottom: 1px solid;
<<<<<<< HEAD
    border-color: black;
    margin-bottom: 10px;
    overflow: hidden;
    font-size: 25px;
=======
    border-color: lightgray;
    margin-bottom: 10px;
    overflow: hidden;
    font-size: 24px;
>>>>>>> 3b7a8bc3685d2d5acff00ea49b47cb67b2b9e07a
}

header a {
    float: right;
    text-align: center;
}

header a:hover {
    background-color: lightgray;
}

#logo {
    margin: 0 50px 0;
    padding: 2px;
    float: left;
}

#content {
    border: 1px solid lightgray;
    width: 80%;
    margin: auto;
}

div {
    display: block;
    margin: auto;
    text-align: center;
}

footer {
    background-color: black;
    margin-top: 30px;
    padding: 40px;
    text-align: center;
    color: white;
}

a {
    color: black;
    padding: 5px;
    text-decoration: none;
}

a::hover {
    background-color: #326672;
}

a::visited {
    color: black;
    text-decoration: none;
}

.tabLink {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 30%;
    border-width: 5px;
    border-color: black;
    background-color: lightgray;
}

.tabLink:hover {
    transform: scale(1.1);
    background-color: lightgray;
}

.tabLink:active {
    background-color: darkgray;
}

.tabLink:focus {
    background-color: darkgray;
}